# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [ ]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [9]:
import pandas as pd
sal = pd.read_csv('Salaries.csv')

C:\Users\krish\AppData\Local\Temp\ipykernel_20156\185440898.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv('Salaries.csv')

**Check the head of the DataFrame.**

In [13]:
import pandas as pd
header = sal.head()

**Use the .info() method to find out how many entries there are.**

In [12]:
import pandas as pd
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [ ]:
import pandas as pd
sal.info()
# Or specifically for that column:
print(sal['BasePay'].dtype)
# Converts BasePay to numeric, turning strings into NaN
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')
# Now run the mean
sal['BasePay'].mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
object

np.float64(66325.44884048769)

**What is the highest amount of OvertimePay in the dataset ?**

In [28]:
import pandas as pd
sal.info()
# Or specifically for that column:
print(sal['OvertimePay'].dtype)
# Converts OvertimePay to numeric, turning strings into NaN
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')
# Now run the max
sal['OvertimePay'].max()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(5), int64(2), object(6)
memory usage: 14.7+ MB
float64

np.float64(245131.88)

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
import pandas as pd
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].iloc[0]

NameError: name 'sal' is not defined

**What is the name of highest paid person (including benefits)?**

In [ ]:
import pandas as pd
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

['NATHANIEL FORD']

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
import pandas as pd
sal.loc[sal['TotalPayBenefits'].idxmin()]

['Joe Lopez']

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [ ]:
import pandas as pd
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [ ]:
import pandas as pd
sal['JobTitle'].nunique()

2159

**What are the top 5 most common jobs?**

In [ ]:
import pandas as pd
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
import pandas as pd
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [ ]:
import pandas as pd
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

**Is there a correlation between length of the Job Title string and Salary?**

In [ ]:
import pandas as pd
sal['title_len'] = sal['JobTitle'].apply(len)
sal[['title_len', 'TotalPayBenefits']].corr()

# Great Job!